<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-title">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">To Do App</h1>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened
      class="sidenav"
    >
      <mat-nav-list class="nav-list">
        <mat-icon aria-hidden="false" aria-label="today icon">today</mat-icon>
        <a mat-list-item routerLink=".">
          {{ mainListTitle }}
        </a>
      </mat-nav-list>
      <mat-nav-list class="nav-list">
        <mat-icon aria-hidden="false" aria-label="today icon">task_alt</mat-icon>
        <a mat-list-item routerLink="/completed"> Completed Tasks </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list *ngFor="let nav of fillerNav" class="nav-list">
        <mat-icon aria-hidden="false" aria-label="today icon">list_alt</mat-icon>
        <a
          mat-list-item
          routerLink="/{{ nav._id }}"
        >
          <div>{{ nav.title }}</div>
        </a>
      </mat-nav-list>
      <button mat-button color="primary" (click)="onClickAddList()">
        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
        NEW LIST
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
