<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="title-container">
      <p mat-dialog-title>{{ formTitle }}</p>
      <button mat-icon-button aria-label="close icon" (click)="onCloseClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> title</mat-label>
      <input
        matInput
        cdkFocusInitial
        formControlName="title"
      />
      <mat-error *ngIf="title!.invalid"> You must enter a title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>detail</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="5"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Set a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="withSelectBox" class="form-field">
      <mat-label>Select a list</mat-label>
      <mat-select [(value)]="task.list" formControlName="selectBox">
        <mat-option *ngFor="let option of options" [value]="option._id">
          {{ option.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectBox!.invalid"> You must select a list</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action-buttons">
    <button mat-stroked-button (click)="onCancleClick()">CANCLE</button>
    <button
      mat-raised-button
      type="submit"
      cdkFocusInitial
      color="primary"
      [disabled]="title!.invalid || (withSelectBox && selectBox!.invalid)"
    >
      SAVE
    </button>
  </div>
</form>
