<div mat-dialog-content>
  <p>{{title}}</p>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label> title</mat-label>
    <input matInput [(ngModel)]="task.title" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>description</mat-label>
    <input matInput [(ngModel)]="task.description" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Select a list</mat-label>
    <mat-select [(value)]="task.list">
      <mat-option *ngFor="let option of options" [value]="option._id">{{
        option.title
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Set a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="task.date"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>SAVE</button>
  <button mat-button (click)="onCancleClick()">CANCLE</button>
</div>
