<div mat-dialog-content>
  <div class="title-container">
    <p mat-dialog-title>{{ title }}</p>
    <button mat-icon-button aria-label="close icon" (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label> title</mat-label>
    <input
      matInput
      [(ngModel)]="task.title"
      cdkFocusInitial
      [formControl]="Title"
    />
    <mat-error *ngIf="Title.invalid"> You must enter a title</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>detail</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="5"
      [(ngModel)]="task.description"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Set a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="task.date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="withSelectBox" class="form-field">
    <mat-label>Select a list</mat-label>
    <mat-select [(value)]="task.list" [formControl]="SelectBox">
      <mat-option *ngFor="let option of options" [value]="option._id">
        {{ option.title }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="SelectBox.invalid"> You must select a list</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-button (click)="onCancleClick()">CANCLE</button>
  <button
    mat-raised-button
    (click)="onSaveClick()"
    cdkFocusInitial
    color="primary"
    [disabled]="Title.invalid || (withSelectBox && SelectBox.invalid)"
  >
    SAVE
  </button>
</div>
