<div class="container">
  <div class="container-task-detail">
    <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="1"
      appearance="line"
      [theme]="{ height: '20px', width: '200px' }"
    ></ngx-skeleton-loader>
  </div>
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{ height: '20px', width: '400px' }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    appearance=""
    [theme]="{ height: '30px', 'border-radius': '40px', width: '100px' }"
  ></ngx-skeleton-loader>
</div>
