<div class="page-container">
  <div class="page-title-container">
    <h1 mat-headline>{{ title }}</h1>
    <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="menu icon">
      <mat-icon>edit</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDeleteList()">
        <mat-icon>delete</mat-icon>
        <span>Delete List</span>
      </button>
      <button mat-menu-item (click)="onEditList()">
        <mat-icon>edit</mat-icon>
        <span>Rename List</span>
      </button>
    </mat-menu>
  </div>
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <div *ngFor="let task of tasks">
        <app-task
          [task]="task"
          (getData)="getTasks()"
          [mainListId]="mainListId"
        >
        </app-task>
      </div>
    </ng-container>
    <ng-template #noTasks>
      <app-no-tasks></app-no-tasks>
    </ng-template>
    <button
      mat-button
      mat-stroked-button
      [color]="!isMobileScreen() ?'primary':'accent'"
      (click)="onAddTask()"
      class="add-button"
      [ngClass]="
        !isMobileScreen() ? 'add-button' : 'fixed-button mat-raised-button'
      "
    >
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
      NEW TASK
    </button>
  </ng-container>
  <ng-template #loading>
    <app-task-skeleton
      *ngFor="let number of [0, 1, 2, 3, 4]"
    ></app-task-skeleton>
  </ng-template>
</div>
