<div class="page-container">
  <div class="page-title-container">
    <h1 class="page-title">{{ title }}</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDeleteList()">
        <mat-icon>delete</mat-icon>
        <span>Delete List</span>
      </button>
      <button mat-menu-item (click)="onEditList()">
        <mat-icon>edit</mat-icon>
        <span>Rename List</span>
      </button>
    </mat-menu>
  </div>
  <ng-container *ngIf="!isLoading; else loading">
    <div *ngFor="let task of tasks">
      <app-task [task]="task" (getData)="getTasks()" [mainListId]="mainListId"> </app-task>
    </div>
    <button
      mat-button
      color="primary"
      (click)="onAddTask()"
      class="add-button"
    >
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
      NEW TASK
    </button>
  </ng-container>
  <ng-template #loading>
    <app-task-skeleton *ngFor="let number of [0,1,2,3,4]"></app-task-skeleton>
  </ng-template>
</div>
